.projects-section {
    padding: 50px;
}
  
.card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Spacing between cards */
}

/* Each card takes full width on mobile */
.card-grid .card-container {
    width: 100%;
    max-width: 350px;
}

/* Two cards per row on larger screens */
@media (min-width: 768px) {
    .card-grid {
        justify-content: space-between;
    }

    .card-grid .card-container {
        width: calc(50% - 10px);
    }
}

/* On even larger screens, center the grid */
@media (min-width: 1200px) {
    .card-grid {
        margin: 0 auto;
        justify-content: left;
    }
}

  